certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
docopt==0.6.2
idna==3.10
ipaddress==1.0.23
markdown-it-py==3.0.0
mdurl==0.1.2
netifaces==0.11.0
pipreqs==0.4.13
prompt_toolkit==3.0.50
Pygments==2.19.1
requests==2.32.3
rich==13.9.4
scapy==2.6.1
urllib3==2.3.0
wcwidth==0.2.13
yarg==0.1.10
